@charset "utf-8";
/* CSS Document */
html{ height:100%; widows:100%}
body{ height:100%; widows:100%; margin:0}

#dituContent{ overflow:hidden; float:left;  height:88%; background-color:#FFF; width:84%; margin-left:14.5%;}
